
#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.terminal-cursor {
  display: inline-block;
  width: 0.5em;
  height: 1em;
  background-color: #4AF626;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
